## Minnan(閩南話/Hokkien(福建話) Topolect

[Wiktionary](https://en.wiktionary.org/wiki/Wiktionary:Main_Page) compiled a subset of [Chinese dialectal synonyms](https://en.wiktionary.org/wiki/Module:zh/data/dial-syn/documentation) of Mandarin (普通話) words.
This page is programmatically-generated using this subset and lists the Minnan words and their counterparts in English and Mandarin.
The Minnan words are selected from the following Minnan variants:
* [Philippine Hokkien](https://en.wikipedia.org/wiki/Philippine_Hokkien)
* [Quanzhou](https://en.wikipedia.org/wiki/Quanzhou)
* [Xiamen](https://en.wikipedia.org/wiki/Xiamen)

The romanized characters next to the Hokkien synonyms on this page are
called [Pe̍h-ōe-jī](https://en.wikipedia.org/wiki/Pe̍h-ōe-jī).

### Hokkien Words List

{hokkien_table}

### References ###
#### How Minnan language sounds like in Xiamen and Quanzhou
* [Xiamen TV Food Show; the host speaks Minnan](https://www.youtube.com/watch?v=ypnPgDR7J2c)
* [Xiamen TV Show: Quanzhou's West Street](https://www.youtube.com/watch?v=4qqQXphXNew)

#### Wikipedia sources
* [Hokkien](https://en.wikipedia.org/wiki/Hokkien)
* [Southern Min](https://en.wikipedia.org/wiki/Southern_Min)

*{tbl_gen_date}*